
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree');

h1, h2, li, p{
  font-family: 'Bai Jamjuree', sans-serif;
}

/* Get rid of the underline and blue text*/
nav a {
  text-decoration: none;
  color: inherit;
}

/* Change title color to blue when cursor is on the tab */
li a:hover {
    color: blue;
}

@media screen and (min-width: 801px){
  ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      margin: 10px;
      padding: 20px;
      background: grey;
  }

  li{
    display: inline;
    color: white;
    text-align: center;

    text-decoration: none;
    font-weight: bold;
  }

  h1{
      font-size: 3em;
      text-align: center;
  }

  img{
    width: 75%;
    height: 75%;

  }
}

@media screen and (min-width: 416px) and (max-width: 800px){
  ul {
      display: flex;
      -webkit-flex-flow: row wrap;
      justify-content: space-around;
      list-style-type: none;

      padding: 0px;
      background: grey;
  }

  li{

    margin: 10px;
    width: 120px;
    height: 55px;

    text-align: center;


    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  h1{
      font-size: 3.25em;
      text-align: center;
  }

  p{
    font-size: 110%;
  }

  img{
    width: 75%;
    height: 75%;

  }
}

@media screen and (max-width: 415px){
  ul {
      margin: 0;
      padding: 0;

      columns: 1;
      list-style-type: none;
      background: grey;
  }

  li{

    text-align: center;
    margin: 10px;

    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
  }

  h1{
      font-size: 3em;
      text-align: center;
  }

  p{
    font-size: 120%;
  }

  img{
    width: 80%;
    height: 80%;
  }
}

h2{
  font-size: 2em;
  text-align: center;
}

div{
  text-align: center;
  margin-top: 50px;
}

footer{
  text-align: center
}

li.footer{
  display: inline;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
  color: Blue;
}

body.index{
  background: url(../images/background2.jpeg) no-repeat center center;
  background-size: cover;
  background-color: white;
  background-attachment: fixed;
  text-align: center;
}
